.card {
  height: 600px;
  width: 1000px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  margin-left: 250px;
  margin-top: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.content {
  display: flex;
  align-items: center;
}

.text-content {
  margin-left: 16px;
}

.card img {
  height: 300px;
  width: 340px;
  margin-top: -20px;
  object-fit: cover; 
}


.quantity{
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
  font-size: medium;
  margin-left: 150px;
  color: orangered;
}

.title{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 80px;
}

.rate{
  font-size: 17px;
}

.topic{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  margin-top: -50px;
}

.store{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  margin-top: 10px;
  
}

.data{
  border: 1px solid white;
  height : 100px;
  width: 350px;
  margin-top: 20px;
}

.btn{
  margin-left: 500px;
  margin-top: -35px;
  
}

.btn button {
  color: white;
  margin-right: 10px;
  border-radius: 5px;
}

.btn button:nth-child(1) {
  margin-right: 10px;
  margin-top: 0px;
}

.btn button:nth-child(2) {
  margin-top: 10px;
}

.prize{
  margin-top: 60px;
  margin-left: 70px;
  color: rgb(117, 107, 107);
  border-top: 1px solid #ccc;
  padding-top: 25px;
}

.cash{
  margin-top: 60px;
  margin-left: 725px;
  font-weight: bold;
  font-size: 17px;
  color: #000;
}

.shipping{
 
  margin-left: 70px;
  color: rgb(117, 107, 107);
}

.charge{
  margin-top: 10px;
  margin-left: 755px;
  font-weight:bold;
  font-size: 15px;
  color: #000;
}

.price{
  margin-top: 60px;
  margin-left: 70px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  margin-top: -1px;
  padding-top: 15px;
}

.rupee{
  margin-top: 60px;
  margin-left: 750px;
  font-weight: bold;
  font-size: 17px;
  color: #000;
}

.para{
  margin-left: 720px;
  font-weight: bold;
  font-size: 14px;
  color:orangered;
}

